extends ../layout
block append content

  div(class="row" id="updatable-progress-bar")
    div(class="col-sm-11"  )
      sdco-updatable-progress-bar(
        the-array="slides"
        tooltip-field="'url'"
        current-index="currentIndex"
      )
  div(style="width:100%")
    a(sdco-move-slide left="true" class="left-link" current-index='currentIndex') left
      
    div(
      ng-view 
      ng-class="slideClasses" 
      class="view-content" 
      id="theView"
    )
    a(sdco-move-slide right="true" class="right-link" current-index='currentIndex') right

