extends ../layout
block append content
  nav
    h1
      a navigation features
    div(class="row" style="margin-left:5px; margin-right: 0;")
      div(class="col-sm-11" 
        style="width:{{progressBarWidth}}; padding-right: 0px; padding-left: 0px;"
      )
        sdco-updatable-progress-bar(
          the-array="slides"
          tooltip-field="'url'"
          current-index="currentIndex"
        )
    button(sdco-move-slide left="true" class="left-link" current-index="currentIndex")
    button(sdco-move-slide right="true" class="right-link" current-index="currentIndex")
  div(
    ng-view 
    ng-class="slideClasses"
    class="view-content"
  )